{% extends "base.html" %}

{% block content %}
    <center>
        <p><b>Uploaded image</b></p>
        <img src = "{{ url_for('send_image', filename = image_name_) }}" width="224">
        <p> Image classification result:  <b>{{label}}</b></p>
        <p> Certainty:  <b>{{accuracy}}%</b> </p>
        <br>
        <b>Search Result</b><br>
    </center>



    {# google_search_result #}
        {% for i in range(9): %}
    <div class="container">
           {# google_search_result['items'][i] #}
        <a href="{{ google_search_result['items'][i]['link'] }}">
            <h6>
                <b>{{ google_search_result['items'][i]['title'] }}</b>
            </h6>
        </a> <br>

        <span >
            <a class="green-text" href="{{ google_search_result['items'][i]['link'] }}">
                <b>
                    {{ google_search_result['items'][i]['displayLink'] }}
                </b>
            </a>
        </span>

        <span class="grey-text">
            <p>{{ google_search_result['items'][i]['snippet'] }}</p>
        </span><!-- Content snippet small. color green -->
           <br><br>
    </div>

    {% endfor %}

{% endblock %}
